extends layout

block content
  ul.markdown-page-options.list-inline
    li
      a(href=sourceUrl target="_blank") View On GitHub
    li
      a(href=editeUrl target="_blank") Improve This Page
    li
      a(href="https://github.com/GuildCrafts/curriculum/issues/new?&body=%23+Bug+Report%0A%0AI+found+a+problem+on+#{encodeURIComponent(currentURL)}%0A%0A" target="_blank") Report A Bug
    if phase
      li
        a(href="/phases/#{phase.number}/skills") Skills
      li
        a(href="/phases/#{phase.number}/schedule") Schedule
      if currentUser.isAdmin
        li
          a(href="/phases/#{phase.number}/dashboard") Dashboard

  textarea.hidden.skills-data= JSON.stringify(currentModuleSkills)

  //- if stars.count > 0
  div.star-rating
    - var fullStars = Math.round(parseInt(stars.avg))
    - var emptyStars = 5 - fullStars || 5
    - var i = 1
    while fullStars > 0
      h3(class='stars' data-star-number=i) &#9733
      - fullStars--
      - i++
    while emptyStars > 0
      h3(class='stars' data-star-number=i) &#9734
      - emptyStars--
      - i++
    p.review-count (!{stars.count} reviews)

  .markdown-body !{content}
  
  //- p.hidden.user-id !{currentUser.id}
  //- p.hidden.module-id !{moduleId}
 
  form(action='/newStuff', method='post')
    input(type='text', name='userId', value=currentUser.id)
    input(type='text', name='moduleId', value=moduleId)
    input(type='number', min='1', max='5', name='rating' required)
    input(type='submit', name='1' value=`submit`)

    
